.block-city{
    color: #04AA6D;
    font-size: larger;
     font-style: oblique;


}
    
.shapka{
    color: rgb(9, 2, 15);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px, 50px, 0px, 30px;
}

.img-foto{
    width: 1000px;
    height: 500px;
}


.password{
    width: 150px;
    height: 20px;
    border-radius: 10px;
}
 .mail{
    width: 200px;
    height: 20px;
    border-radius: 10px;
 }
.button{
    width: 100px;
height: 20px;
}

.button{
    background-color: #04AA6D; /* Green */
  border: none;
  color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}



#footer{color: blue;}

body{
background-image: url("https://images.unsplash.com/photo-1596464099148-75a09b8085ad?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")}


